

  <mat-tab-group fitInkBarToContent animationDuration="1000ms" [selectedIndex]="3">
    <mat-tab label="3 days ago">Matches 1</mat-tab>
    <mat-tab label="2 days ago">Matches 2</mat-tab>
    <mat-tab label="Yesterday">Matches 3</mat-tab>
    <mat-tab label="Today">Matches 4</mat-tab>
    <mat-tab label="Tomorrow">Matches 5</mat-tab>
    <mat-tab label="2 days later">Matches 6</mat-tab>
    <mat-tab label="3 days later">Matches 7</mat-tab>
  </mat-tab-group>
  
  
<router-outlet></router-outlet>