<nav>
  <mat-toolbar>
    <mat-toolbar-row>
      <a>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="gohome()">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <span>GoalZone</span>
      <span class="example-spacer"></span>
      <a>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                (click)="gotofavs()">
          <mat-icon>favorite</mat-icon>
        </button>
      </a>
      <mat-slide-toggle [checked]="isDarkMode" (click)="toggleTheme()"></mat-slide-toggle>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</nav>

<mat-menu #menu="matMenu">
  <a>
    <button mat-menu-item (click)="gotomyaccount()">
      <mat-icon>account_box</mat-icon>
      <span>My Account</span>
    </button>
  </a>

  <a>
    <button mat-menu-item (click)=logout()>
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </a>
</mat-menu>
<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>My Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Pick a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="datepicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="gohome()">Cancel</button>
      <button type="button" class="btn btn-secondary" (click)="show()">Show current</button>
    </mat-card-actions>
  </mat-card>
</form>
