  <form [formGroup]="profileForm" class="form-container">
    <mat-card>
      <mat-card-header>
      <mat-card-title>My Account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput placeholder="Username">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Pick a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="datepicker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="gohome()">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="show()">Show current</button>
      </mat-card-actions>
    </mat-card>
