.mat-card-light {
  text-align: center;
  justify-content: center;
  background-color: #ffffff !important;
  transition: all 0.5s ease;
}

.mat-card-dark {
  text-align: center;
  justify-content: center;
  background-color: #282828 !important;
  transition: all 0.5s ease;
}

mat-card {
  mat-card-title {
    font-size: x-large;
    margin: 1em auto;
  }

  mat-card-content {
    display: flex;
    justify-content: center;
    margin: 1em 2em;

    form {
      justify-content: center;

      .mat-mdc-form-field {
        width: 100%;
        min-width: 200px;
      }

      .input {
        width: 100%;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #3f51b5 !important
}
