<div id="background"
     style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap; height:100%;">
  <form [formGroup]="profileForm" class="form-container" (keydown.enter)="$event.preventDefault()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline" [style.width.px]=200>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline" [style.width.px]=200>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" (keydown.enter)="login()">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group form-check">
          <input formControlName="isAdmin" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Login as admin</label>
        </div>
        <div>
          <button mat-raised-button
                  class="save-button-light"
                  (click)="login()">Login
          </button>
          <button mat-raised-button class="other-button-light"
                  routerLink='/signup'>Sign Up
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
