.mat-column-id {
  flex: 0 0 100px
}

.mat-column-homeTeamName {
  flex: 0 0 300px
}

.mat-column-awayTeamName {
  flex: 0 0 300px
}

.mat-column-homeScore {
  flex: 0 0 10px
}

.mat-column-awayScore {
  flex: 0 0 10px
}

.mat-column-button {
  flex: 0 0 10px
}
