<nav>
  <mat-toolbar [ngClass]="{'light-theme': !isDarkMode, 'dark-theme': isDarkMode}">
    <mat-toolbar-row>
      <a>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="gohome()">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <span>GoalZone</span>
      <span class="example-spacer"></span>
      <mat-slide-toggle [checked]="isDarkMode" (click)="toggleTheme()"></mat-slide-toggle>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>


<mat-menu #menu="matMenu">
  <a>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>My Account</span>
    </button>
  </a>

  <a>
    <button mat-menu-item (click)=logout()>
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </a>
</mat-menu>

<div [ngClass]="{'light-theme': !isDarkMode, 'dark-theme': isDarkMode}">
  <form [formGroup]="profileForm" class="form-container" (keydown.enter)="$event.preventDefault()">
    <mat-card>
      <div [ngClass]="{'mat-card-light': !isDarkMode, 'mat-card-dark': isDarkMode}">
        <mat-card-header>
          <mat-card-title>My Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="form-field-style">
                <mat-label [ngClass]="{'text-for-dark-mode': isDarkMode}">Username</mat-label>
                <input formControlName="username" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="form-field-style">
                <mat-label [ngClass]="{'text-for-dark-mode': isDarkMode}">Password</mat-label>
                <input [ngStyle]="{'color': isDarkMode ? '#ffffff' : '#000000' }" matInput formControlName="password"
                       [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="form-field-style">
                <mat-label [ngClass]="{'text-for-dark-mode': isDarkMode}">First Name</mat-label>
                <input formControlName="firstName" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="form-field-style">
                <mat-label [ngClass]="{'text-for-dark-mode': isDarkMode}">Last Name</mat-label>
                <input formControlName="lastName" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field color="primary" appearance="outline" class="form-field-style">
                <mat-label [ngClass]="{'text-for-dark-mode': isDarkMode}">Pick a date</mat-label>
                <input [ngStyle]="{'color': isDarkMode ? '#ffffff' : '#000000' }" matInput [matDatepicker]="picker"
                       formControlName="datepicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button
                  [ngClass]="{'save-button-dark': isDarkMode, 'save-button-light': !isDarkMode}"
                  (click)="save()">Save
          </button>
          <button mat-raised-button [ngClass]="{'other-button-dark': isDarkMode, 'other-button-light': !isDarkMode}"
                  (click)="gohome()">Cancel
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </form>
</div>
