<nav>
    <mat-toolbar>
      <mat-toolbar-row>
        <a>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="gohome()">
            <mat-icon>home</mat-icon>
          </button>
        </a>
        <span>GoalZone</span>
        <span class="example-spacer"></span>
        <a>
          <button mat-icon-button [matMenuTriggerFor]="add" aria-label="Example icon-button with a menu">
            <mat-icon>add</mat-icon>
          </button>
        </a>
        <mat-slide-toggle></mat-slide-toggle>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar-row>
  
    </mat-toolbar>
  </nav>

  

  <mat-menu #menu="matMenu">
    <a>
      <button mat-menu-item (click)='gotomyaccount()'>
        <mat-icon>account_box</mat-icon>
        <span>My Account</span>
      </button>
    </a>

    <a>
      <button mat-menu-item (click)=logout()>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </a>
  </mat-menu>

  <mat-menu #add="matMenu">
    <a>
      <button mat-menu-item (click)='openDialogForScore()'>
        <mat-icon>score</mat-icon>
        <span>Add score</span>
      </button>
    </a>

    <a>
      <button mat-menu-item (click)="openDialogForGame()">
        <mat-icon>library_add</mat-icon>
        <span>Add new game</span>
      </button>
    </a>
  </mat-menu>

<router-outlet></router-outlet>